html{
    width: 100%;
    color: white;
    background-color: whitesmoke;
    font-family:Gadugi, cursive ;
    text-align: center;
}

body{
    width: 100%;
    background-color: whitesmoke;
    z-index: 10;
}
.allPage{
    margin-top: 1%;
}
#imgCouv{
    width: 90%;
    z-index: 1;
    transition: all 1s;
}

#divImage{
    justify-content: center;
    display: flex;
    padding-bottom: 7%;
}

#soundNoirBlanc{ /*photo de couverture */
    position: relative;
    width:75% ;
    height:75% ;

}

#content{ /* contenu*/
    background-color: lightslategray;
    padding: 5%;
}

.titreContent{    /*  titre de la présentation */
    padding-bottom: 2%;
}

#logoCouleur{ /* logo dans a propos */
    height: 200px;
    width: 200px;
    float:left;

    margin-right:10px;

}
.imagePres{
    float: right;
}