
#content{ /* contenu*/
    background-color: lightslategray;
    padding: 5%;
}
.colNumber{
    width:30%;
}

.infoCommande{
    background-color: whitesmoke;
    padding: 5%;
    color: black;
    border-inline:solid grey 1px ;

}
