html{
    width: 100%;
    color: white;
    background-color: whitesmoke;
    font-family:Gadugi, cursive ;
    text-align: center;
}

#body{ /* balise avec tout le bas de la page */
    margin-top: 140px;
    z-index: 2;
    background-color: whitesmoke;

}

#content{ /* contenu*/

    margin-top: 11%;
    background-color: lightslategray;
    width: 65%;



}

#adressemail1, #motdepasse1, #nom, #prenom, #numerotel, adressemail2, #motdepasse1{
    color:grey;
    margin-bottom:10px ;
    border-radius: 5px;
    padding: 2px;
}

#formInscription {
    margin-top: 15px;
}