html{
    width: 100%;
    color: white;
    background-color: whitesmoke;
    font-family:Gadugi, cursive ;
    text-align: center;
}


#imgCouv{
    position: relative;
    z-index: 1;
    top:65px;
    transition: all 1s;
}

#body{ /* balise avec tout le bas de la page */
    margin-top: 140px;
    z-index: 2;
    background-color: whitesmoke;

}

#soundNoirBlanc{ /*photo de couverture */
    position: relative;
    width:75% ;
    height:75% ;

}

#content{ /* contenu*/

    margin-top: 11%;
    background-color: lightslategray;
    width: 65%;

}

#logoCouleur{ /* logo dans a propos */
    height: 15%;
    width: 15%;
    position: relative;
    left: 80%;
    top : -100px;

}

#presTexte{ /* taille de la zone de texte a propos */
    width: 85%;
    color: whitesmoke;
}


.group2{
    text-align: center;
    box-sizing: content-box;
}
div.collection {
    box-sizing:border-box;
    width:50%;

    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right:10% ;
    margin-left:10% ;
}
#sectionContact{
    position: relative;
    left: 20%;
}
#nom, #prenom, #email, #message, #submit{
    color:grey;
    margin-bottom:10px ;
    border-radius: 5px;
    padding: 2px;
}
#submit, #comm{
    margin-bottom:10px ;
}


#textDevis {
    color: #444444;
    background-color: rgba(0, 0, 0, 0.35);
}

#mapid {
    height: 200px;
    width: 200px;
}