.green {
    background-color: palegreen;
}
.taillemth{
    width: 10%;
    height: 10%;
}

#content{ /* contenu*/
    background-color: lightslategray;

}

#nom, #prenom, #email, #message, #submit{
    color:grey;
    margin-bottom:10px ;
    border-radius: 5px;
    padding: 2px;
}

.milieu{
    padding-top: 6px ;
}

.indentation{
    padding-left: 5px;
}

.titre{
    padding-top: 5px;
}

.fontsized{
    font-family: "Copperplate Gothic Light" , "sans-serif";
}