html{
    width: 100%;
    color: white;
    background-color: whitesmoke;
    font-family:Gadugi, cursive ;
    text-align: center;
}


#imgCouv{
    position: relative;
    z-index: 1;
    top:65px;
    transition: all 1s;
}

#body{ /* balise avec tout le bas de la page */
    margin-top: 140px;
    z-index: 2;

}

#soundNoirBlanc{ /*photo de couverture */
    position: relative;
    width:75% ;
    height:75% ;

}

#content{ /* contenu*/

    margin-top: 11%;
    background-color: lightslategray;
    width: 65%;



}

#sectionApropos2, #sectionBaffle2, #sectionContact { /* alignement des textes */
    text-align: left;
    padding-left: 10px;

}

#logoCouleur{ /* logo dans a propos */
    height: 15%;
    width: 15%;
    position: relative;
    left: 80%;
    top : -100px;

}

#presTexte{ /* taille de la zone de texte a propos */
    width: 85%;
    color: whitesmoke;
}

#liste{
    font-size: 20px;
}

#listeDroite{
    font-size: 25px;
    position: absolute;
    left: 300px;
    top: 700px;
}

.label, .nomProd{
    text-align: center;
    margin: 1px;
}

.collection{
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;

}
.collection:hover{
    border-bottom: 2px solid darkgray;
}
/*
.zoom:hover{
    transform: scale(0.90);
    transition: all .3s;
}*/

.zoom{
    border-radius: 3px;
    cursor:pointer
}


.group2{
    text-align: center;
    box-sizing: content-box;
}
div.collection {
    box-sizing:border-box;
    width:50%;

    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right:10% ;
    margin-left:10% ;
}
#sectionContact{
    position: relative;
    left: 20%;
}
#nom, #prenom, #email, #message, #submit{
    color:grey;
    margin-bottom:10px ;
    border-radius: 5px;
    padding: 2px;
}
#submit, #comm{
    margin-bottom:10px ;
}

