body{
    flex-wrap: wrap;
    justify-content: center;
}

#container2{
    width: 100%;
    padding: 1%;
    padding-right: 10%;
    padding-left: 10%;
}

#materielsTable{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#typeSelect{
    background-color: lightslategray;
    padding: 1%;
    border-radius: 15px;
    width: 20%;
}

.card_container{
    width: 60%;
    margin-left: 0;
    margin: 5%;
    box-shadow: 0.1em 0.2em 0.5em 0.1em;
    border-radius: 20px;
 }

.card {
    border: 0;
    width: 100.1%;
    height: 350px;
    transition: transform 2s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 22px;
}

.card_front img{
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card_front{
    height: 100%;
    display: flex;
    backface-visibility: hidden;
    position: absolute;
}

.card_back{
    transform: rotateY( 180deg );
    backface-visibility: hidden;
    padding: 3%;
    position: absolute;
    text-align: center;
    background-color: lightslategray;
    height: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card_info{
    background-color: lightgray;
    text-align: left;
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: inherit;
}

.card_info p{
    margin: auto;
}

.card:hover{
    transform: rotateY( 180deg );
}

.photo {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 420px){

    #materielsTable{
        grid-template-columns: 1fr;
    }

    .card_container{
        width: 85%;
    }

    #typeSelect{
          width: 99%;
          padding: 3%;
      }
}