body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_container{
    width: 100%;
     margin: 5%;
 }

.card {
    width: 350%;
    height: 350px;
    transition: transform 2s;
    transform-style: preserve-3d;
    position: relative;
}

.card_front img{
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card_front{
    height: 500%;
    display: flex;
    backface-visibility: hidden;
    position: absolute;
}

.card_back{
    transform: rotateY( 180deg );
    backface-visibility: hidden;
    position: absolute;
    text-align: center;
    background-color: lightslategray;
    height: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card_info{
    background-color: lightgray;
    text-align: left;
    display: flex;
    width: 350%;
    height: 50px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: inherit;
}

.card_info p{
    margin: auto;
}

.card:hover{
    transform: rotateY( 180deg );
}

.photo {
    width: 100%;
    height: 20%;
}