

body{
    z-index: 10;
}

.nav-item{
     font-size: 140%;

 }
.nav-link{
    color: black;

}
.nav-link:hover{
    color: black;

}

.nav-item:hover{

    background: lightgrey;
    color: black;
    border-radius: 5px;
    height: 50px;
}
ul.nav{
    width: 50%;


}
a.navbar-brand{
    font-size: 200%;
    color: black;

    font-family: "3ds Light";
}
a.navbar-brand:hover{

    color: black;

}

