div.header{ /*div contenant l'en tête */
    display: block;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%;
    height: 14%;
    left: 0;
    z-index: 20;
    text-align: left;

}
.navigation{
    position: relative;
    z-index: 30;

}

#rectangle{
    width: 531px; /*372*/
    background-color: lightgrey;
    height: 15px;
    position: absolute;
    z-index: 3;
    top : 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#head{

    transition: all 2.5s ease;
    background-color: transparent;
}

.navBar { /* set de la taille et position de la barre des menus */
    overflow: hidden;
    position: relative;
    top : -75px;
    border-radius: 5px;
    padding: 3px;
    width: 600px; /*400*/
    left: 51.5%;
    font-size: 20px;


}

.navBar a:hover {/* Change background on mouse-over */
    background: lightgrey;
    color: black;
    border-radius: 5px;
    height: 10px;
}