html{
    width: 100%;
    color: white;
    background-color: whitesmoke;
    font-family:Gadugi, cursive ;
    text-align: center;
}

#content{ /* contenu*/

    margin-top: 11%;
    background-color: lightslategray;
    width: 65%;



}

#nom, #categorie, #prix, #nombre, #description{
    color:grey;
    margin-bottom:10px ;
    border-radius: 5px;
    padding: 2px;
}

#buttonSubmit{
    margin-bottom: 8px;
}