html{
    width: 100%;
    color: white;
    background-color: whitesmoke;
    font-family:Gadugi, cursive ;
    text-align: center;
}

#content{ /* contenu*/
    background-color: lightslategray;
    padding: 2%;
}

#nom, #categorie, #prix, #nombre, #description, #adressemail1, #motdepasse1{
    color:grey;
    margin-bottom:10px ;
    border-radius: 5px;
    padding: 2px;
}


.infoCommande{
    background-color: whitesmoke;
    color: black;
    border-inline:solid grey 1px ;

}