<!-- Dallenogare Corentin -->
<!-- Derwa Alexandre -->
<!-- Lits Maxime -->
<!-- Charlier François -->
<!-- Projet JUIN 2021, Site Web de L'ASBL FALC'OHM SYSTEM -->



<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" type="text/css" href="css/index1.css">
<link rel="stylesheet" type="text/css" href="css/index2.css">

<script src="https://unpkg.com/react@16/umd/react.development.js" defer></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" defer></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> <!--que pour le développement -->
<script type="text/babel"  defer src="js/index.js"></script>

<head >
    <meta charset="UTF-8">
    <div id="container"></div>
</head>
<body onscroll="changeHead();" onload="chargerObj();chargerCateg('categ')" class="row align-items-end" >
<div class="m-auto ">
    <br>
    <img src="img/sound2.jpg" alt="falc'ohm system " id="imgCouv" >

    <div  id="content"><br>
        <h2>Ω A propos de Falc'ohm System </h2>
        <img id="logoCouleur" src="img/falcohm_stem_final_couleur_min.png"
             onmouseover="this.src='img/falcNoirB.png'" onmouseout="this.src='img/falcohm_stem_final_couleur_min.png'" alt="logo couleur" >
        <p>description asbl ...</p>
    </div>

</div>
</body>
</html>