<!-- Dallenogare Corentin -->
<!-- Derwa Alexandre -->
<!-- Lits Maxime -->
<!-- Charlier François -->
<!-- Projet JUIN 2021, Site Web de L'ASBL FALC'OHM SYSTEM -->


<!DOCTYPE html>
<html lang="fr">

<link rel="stylesheet" type="text/css" href="css/accueil.css">
<link rel="stylesheet" type="text/css" href="css/navbar.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script src="https://unpkg.com/react@16/umd/react.development.js" defer></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" defer></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> <!--que pour le développement -->
<script type="text/babel"  defer src="js/cookie.js"></script>
<script type="text/babel"  defer src="js/index.js"></script>
<link rel="icon" href="img/falcohm_stem_final_couleur_min.png" type="image/png">




<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1" />
    <meta charset="UTF-8">
    <div id="container"></div>
</head>
<body onscroll="changeHead();" style="z-index: 10" >

    <div class="allPage row align-items-start flex-column" >
        <div class="m-auto align-self-center" id="divImage"><br>
            <img src="img/sound2.jpg" alt="falc'ohm system " id="imgCouv" >
        </div>
        <div id="content" class="m-auto align-self-end row w-xl-80 w-lg-85 w-md-90 w-sm-90 w-90 mt-5 pt-5" >
            <h2 class="titreContent">Ω A propos de Falc'ohm System </h2>
            <div class="row">


            <div class="col-md-12 t-xs t-sm" >
                <img id="logoCouleur" src="img/falcohm_stem_final_couleur_min.png"
                     onmouseover="this.src='img/falcNoirB.png'" onmouseout="this.src='img/falcohm_stem_final_couleur_min.png'" alt="logo couleur" >
                <p>Un projet est avant tout une idée qui germe dans un coin et qui mûrit lentement, grandissant et s'étirant au fil du temps. "Falcohm system", voici la nôtre. </p>

                <p>Initialement conçu pour servir de Sound Système perso, le chemin parcouru est déjà tel que nous répondons maintenant sous le nom d'une ASBL. Constituée essentiellement de passionnés autodidactes, nous continuons de faire avancer le projet par différentes voies.</p>

                <p>L'association a un an déjà et contribue à l'offre de service de location de matériels son/lumière dans la région wallonne. </p>
                <p> Parallèlement, nous proposons nos propres soirées organisées en interne, et plus récemment des streamings, dans lesquelles nous utilisons nos équipements et développons nos connaissances.</p>

                <p>Nous défendons, avec ce projet, les valeurs de la musique en tant qu'art essentiel et encré dans la société à tout point de vue. La vision de notre ASBL reflète la liberté dont doit bénéficier cette culture.</p>
                <p>Nous sommes heureux de pouvoir vous la partager par le biais de ce site qui on l'espère répondra à vos attentes.</p>
            </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <a href="mentionslegales">Mentions Légales</a>
    </div>
</body>
</html>