<!-- Dallenogare Corentin -->
<!-- Derwa Alexandre -->
<!-- Lits Maxime -->
<!-- Charlier François -->
<!-- Projet JUIN 2021, Site Web de L'ASBL FALC'OHM SYSTEM -->




<!DOCTYPE html>
<html lang="fr">

<link rel="stylesheet" type="text/css" href="css/contacts.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="css/navbar.css">
<script src="https://unpkg.com/react/umd/react.production.min.js" crossorigin></script>

<script
        src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"
        crossorigin></script>

<script
        src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
        crossorigin></script>


<script src="https://unpkg.com/react@16/umd/react.development.js" defer></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" defer></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> <!--que pour le développement -->
<script type="text/babel"  defer src="js/index.js"></script>
<script type="text/babel"  defer src="js/contact.js"></script>




<head >
    <meta charset="UTF-8">
    <div id="container"></div>
</head>
<body  >

    <div class="row align-items-end" id="FormsPage" style="margin-top: 7%;"></div>
</body>
</html>
