<!-- Dallenogare Corentin -->
<!-- Derwa Alexandre -->
<!-- Lits Maxime -->
<!-- Charlier François -->
<!-- Projet JUIN 2021, Site Web de L'ASBL FALC'OHM SYSTEM -->



<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" type="text/css" href="css/materiels.css">
<link rel="stylesheet" type="text/css" href="css/navbar.css">


<script src="https://unpkg.com/react@16/umd/react.development.js" defer></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" defer></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> <!--que pour le développement -->
<script type="text/babel"  defer src="js/index.js"></script>
<script type="text/babel"  defer src="js/materiels.js"></script>
<script src="js/materiels.js"></script>

<head >
    <meta charset="UTF-8">
    <div id="container"></div>
</head>
<body style="margin-top: 10%;">
    <main  id="container2">

    </main>
</body>
</html>